Repository Bauddhik-Geeks/Welcome-to-Bauddhik-Geeks, pull requests merged in 2021-09, with the labels that each got.

#15 Adding aayush89890 to Update Members.md
  Members.md
Labels: Baudheek-Geek-Member

#20 Added Kamlesh_Joshi.md
  Members.md
Labels: Baudheek-Geek-Member

#32 fixes PR template
  .github/pull_request_template.md
  README.md
Labels: good first issue

#47 Added member details
  Members.md
Labels: documentation
